{% extends "layouts/main.html" %}


{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to homepage",
    href: "/idea-2/home"
  }) }}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <div class="govuk-list">
            <li class="govuk-list__item"><a href="/idea-2/reports">Latest submissions</a></li>
            <li class="govuk-list__item"><a href="/idea-2/submission-history">Submission history</a></li>
        </div>
    </div>

    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl">Latest submissions</h1>
        <p class="govuk-body">View your latest submissions and see your reports. You can view reports for each collection period in your submission history. </p>
        <p class="govuk-body">Download the report of your most recent submission to see your latest figures. </p>
        
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Date</th>
                    <th scope="col" class="govuk-table__header">File</th>
                    <th scope="col" class="govuk-table__header">Submitted by</th>
                    <th scope="col" class="govuk-table__header">Reference</th>
                    <th scope="col" class="govuk-table__header">Reports</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__header">24 June 2026 at 4:14pm</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link"2526_4903403590.xml>2526_4903403590.xml</a></td>
                    <td class="govuk-table__cell">Louis OREILLY</td>
                    <td class="govuk-table__cell">3495906</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link">Download report</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__header">17 June 2026 at 4:14pm</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link"2526_4903403590.xml>2526_4903403590.xml</a></td>
                    <td class="govuk-table__cell">Louis OREILLY</td>
                    <td class="govuk-table__cell">3495906</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link">Download report</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__header">17 June 2026 at 4:14pm</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link"2526_4903403590.xml>2526_4903403590.xml</a></td>
                    <td class="govuk-table__cell">Louis OREILLY</td>
                    <td class="govuk-table__cell">9054323</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link">Download report</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__header">17 June 2026 at 4:14pm</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link"2526_4903403590.xml>2526_4903403590.xml</a></td>
                    <td class="govuk-table__cell">Louis OREILLY</td>
                    <td class="govuk-table__cell">4903253</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link">Download report</a></td>
                </tr>
            </tbody>
        </table>
    </div>



</div>

{% endblock %}